<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="PHP 8.4.11 CGI scripting" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="T:\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
